
$color-primary: #55c57a;
$color-primary-light: #000428 ;
$color-primary-dark: #004e92;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
/*We will do a cross browser reset below, this will make every single browser render the page in  the exact same way */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*borders and padding are not included in the width and height of the element*/
}

html {
  font-size: 62.5%;
}

/*the stuff in the body tag is for the website in general, we'll be specifying stuff in the more specific selectors later on*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
  /*we apply this padding to give it a nice white border*/
}

.header {
  height: 95vh;
  /*The header will therefore cover 95% of the viewport*/
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark
      //rgba($color-primary-light, 0.8),
      //rgba($color-primary-dark, 0.8)),
    url('../img/header1.jpg');
  background-size: cover;
  /*cover will try to fit background according to the viewport specified*/
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*we use view port stuff so that when we change the size of where we're viewing the website from the elements change size with it*/
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 6rem;
    /*here we specify the height of the logo and the width will scale accordingly*/
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*the translate property will translate the element according to itself and not the parent elements*/
    text-align: center;
  }
}



.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-family: 'Playfair Display', serif;
    /*font-family: 'poppins', sans-serif;*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: inFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-delay: 3s;
  animation-iteration-count: 3;*/
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /*animation-name: inFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;*/
    animation: inFromRight 1s ease-out;
  }
}



@keyframes inFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes inFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes inFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  /*pseudo-classes are special state of a selector*/
  /* :link represents an element that has not yet been visited. Overrides all other pseudo-classes*/
  &:link,
  /* :visited is after the link has been visited */
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    /*border radius is used to make the round corners of the background. valuse after 100px will not change it*/
    border-radius: 10rem;
    /*transition needs to only be specified in the initial/starting state of the element */
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
  }
  &:hover {
    /*going up on the Y axis is negative in CSS and that is why we write -3px below*/
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      /*fades out, meaning that we won't be able to see it after .4s*/
      opacity: 0;
    }
  }

  /*active is when we click the button*/
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    /*this is an inline block element since our button is also an inline-block element*/
    display: inline-block;
    /*the pseudo-element is treated like a child of the element itself so when we specify the height and width of the element as 100%*/
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /*to place the this pseudo element behind our actual element we need to position it properly using absolute positioning*/
    /*absolute positioning requires a reference point which should be the button itself since the button's positioning is relative*/
    position: absolute;
    top: 0;
    left: 0;
    /*lower z-index will position element behind in stack*/
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: inFromBottom 1s ease-out .75s;
    /*whatever the start of the animation is, make that the initial state of the element*/
    animation-fill-mode: backwards;
  }
}
