:root {
    --background: rgba(36,38,43,0.9);
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  html {
    font-size: 62.5%;
  }
* ,*::before, *::after{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    height: 100%;
    font-size: 16px;
    margin: 0;
    width:100%;
    position: relative;
    font-family: 'poppins', sans-serif;
    /*background-color: #171717;*/

}
.content {
    margin: 0 auto;
    height: 120vh;
    background-color:  #f7f7f7;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
  }

::selection{
    background: #1db167;
    color: #fff;
}

.navbar-container{
    margin-top: 0;
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(173, 216, 230, 0.75);
}
  
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.btn-dark{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}



.article-heading{
    font-family:'poppins', sans-serif; 
    align-content: center;
    font-size: 55px;
    background-color: #302f18;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 5px;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 30px;
}
@media (min-width: 30em) {
    

    .band {
    grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 60em) {
    .band {
    grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width:600px){
    .nav-toggle-label {
        display: none;
    }
    
    .navbar-container {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
      
    .logo {
      color: white;
        grid-column: 1 / 3;
    }
      
    nav {
        all: unset; 
        
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
      
    nav ul {
        display: flex;
    }
      
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
      
    nav a {
        opacity: 1;
        position: relative;
    }
      
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
      
    nav a:hover::before {
        transform: scale(1,1);
    }
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
.card p {
    flex: 1;
    line-height: 1.4;
}
.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1/span 2;
    }
    .item-1 h1 {
        font-size: 24px;
    }
}

/*This is where the categories section starts*/
.categories-section{
    margin-top: 30px;
    width: 100%;
    background-image: linear-gradient(15deg, rgba(0, 4, 40, 0.8), rgba(0, 78, 146, 0.8) 150%);
    
}

.hero-section{
    align-items: flex-start;    
    background-image: linear-gradient(15deg, rgba(0, 4, 40, 0.8), rgba(0, 78, 146, 0.8) 150%);
    width: 100%;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .category_cards{
    list-style: none;
    position: relative;
  }
  
  .category_cards:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .category_cards:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 2.5rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 3.2rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

